/* Untuk Tablet */
@media all and (max-width: 1000px ) {
    /* ------------------------------------------------------------------------------------------- */   
    
      /* our team (Davin) start */
    .tim{
      width: 50%;
      margin-bottom: 50px;
    }
      /* our team (Davin) end */
  }
    
    /* Untuk Smartphone */
  @media all and (max-width: 670px) {
      
    /* ------------------------------------------------------------------------------------------- */
    
      /* our team (Davin) start */
    .tim{
      width: 100%;
    }  
      /* our team (Davin) end */
    
    /* ------------------------------------------------------------------------------------------- */
  }